<!-- prettier-ignore -->
{% extends "base.html" %}
{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'core/repo_card.css' %}" />

<script>
  document.addEventListener('DOMContentLoaded', async function() {
    const upvoteBtn = document.querySelector('.upvote-btn');
    upvoteBtn.addEventListener('click', async function(e) {
      console.log("HELLO WORLD");
      e.preventDefault();
      const repoOwner = "{{ repo_info.owner.login }}";
      const repoName = "{{ repo_info.name }}";
      const url = `/toggle_upvote/${repoOwner}/${repoName}`;
      const response = await fetch(url, {
        method: 'POST',
        headers: {
          'X-CSRFToken': '{{ csrf_token }}',

        },
      })

      const data = await response.json();
      if (response.ok) {
        if (data.status === 'upvoted') {
          console.log("voted success");
          upvoteBtn.querySelector('img').src = '{% static 'icons/uparrow-filled.svg' %}';
        } else {
          console.log("voted down");
          upvoteBtn.querySelector('img').src = '{% static 'icons/uparrow-hollow.svg' %}';
        }
      }
      console.log(data.upvotes);
      document.querySelector('.upvote-counter').innerText = data.upvotes;
    });
  });

</script>

{% endblock %} 
{% block content %}

{% include 'navbar.html' %}

<div class="size-container">
  <div class="border-container">
    <div class="repo-info gray-gradient">Repo Info</div>

    <div class="main-box">
      <h1>{{ repo_info.name }}</h1>
      <div class="icon-desc-container">
        <img
          src="{{ repo_info.owner.avatar_url }}"
          alt="{{ repo_info.name }} logo"
        />
        <p>{{ repo_info.description }}</p>
      </div>
      <div class="hsep"></div>
      <div class="stats-container">
        <h2>Repo Stats</h2>

        <div class="stats-list">
          <div class="icon-text-value">
            {% comment %} <ImgComponent height="{24}" /> {% endcomment %}
            <img
              src="{% static 'icons/issue.svg' %}"
              alt="Issues icon"
              height="24"
              color="#fff"
            />
            <p class="key">Issues:</p>
            <p class="value">{{ repo_info.open_issues }}</p>
          </div>
          <div class="icon-text-value">
            <img
              src="{% static 'icons/star.svg' %}"
              alt="Issues icon"
              height="24"
              color="#fff"
            />
            <p class="key">Stars:</p>
            <p class="value">{{ repo_info.stargazers_count }}</p>
          </div>
          <div class="icon-text-value">
            <img
              src="{% static 'icons/eye.svg' %}"
              alt="Issues icon"
              height="24"
              color="#fff"
            />
            <p class="key">Watchers:</p>
            <p class="value">{{ repo_info.watchers_count }}</p>
          </div>



          <!-- {% comment %}
          <IconTextValue
            ImgComponent="{Issue}"
            key="Issues"
            value="{issues.toString()}"
          />
          {% endcomment %} {% comment %} <IconTextValue
          ImgComponent={CalendarIcon} key="Last Commit"
          value={last_commit.toLocaleDateString('en-US', { month: 'long', day:
          'numeric', year: 'numeric' })} /> {% endcomment %} -->
        </div>
      </div>
      <div class="hsep"></div>
      <div class="vote-container">
        <h2>Repo Votes</h2>
        <div class="vote-counter">
          <form action="">


            <button class="upvote-btn" >
              {% if upvoted %}
              <img src="{% static 'icons/uparrow-filled.svg' %}" height="24" color="#fff" alt="Up arrow">
              {% else %}
              <img src="{% static 'icons/uparrow-hollow.svg' %}" height="24" color="#fff" alt="Up arrow">
              {% endif %}
            </button>

            
          </form>
          <p class="upvote-counter">{{ upvotes }}</p>
        </div>
      </div>
      <div class="links">
        <a href="google.com">View on Github</a>
        <a href="google.com">Visit Website</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
