@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --bg-dark: #000;
  --text-light: #fff;
  --text-dark: #b1b1b1;
  --text-darker: #878787;
}

* {
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: black;
  color: #fff;
  font-family: "Inter", serif;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
a {
  color: inherit;
  text-decoration: underline;
}
h2 {
  font-size: 1.25rem;
  text-align: center;
}